
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.container2{
    
    width: 100%;
    justify-content:space-between;
    align-items:center;
    background-color: #ee525a;
}

.logo{
    display: flex;
    width: 20%;
    margin-right: 5px;
    align-items: center;
    float: left;
}
.t{
    width: 20%;
}
.iconos{
    display: flex;
    width: 10%;
    margin-right: 5px;
    align-items: center;
    float: right;
    
}
