
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.container2{
    margin-top: 10px;
    width: 100%;
    justify-content:space-between;
    align-items:center;
    background-color: #ee525a;
    
}

.boton{
    background-color: #ee525a;
    color: aliceblue;
}

.boton:hover{
    background-color: #73E1C3;
    color: aliceblue;
}

.texto{
    text-decoration: none;
}

.logo{
    display: flex;
    width: 25%;
    margin-right: 5px;
    align-items: center;
    float: left;
}
.t{
    width: 60%;
    margin-top: 10px;
}
.iconoCliente{
    display: flex;
    width: 18%;
    margin-right: 5px;
    align-items: center;
    float: right;
    
}

.section{
    margin: 5px;
}

/* estilos turnero */

#turnos td {
    padding: 0%;
}

/*----Detalles formularios (no toca distribución de campos)----*/

.form-control:focus{
    border: 3px solid #ee525a;
    outline: none;
    box-shadow: 3px 0px 10px #73E1C3;
}

.formulario__input-error{
    font-size: 11px;
    margin-bottom: 0;
    display:none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validación-estado{
    position:relative;
    left: 430px;
    bottom: 30px;
    z-index:100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje{
    height: 45px;
    line-height:45px;
    background: #73E1C3;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

/*----Estilo para validación----*/
.formulario__grupo-correcto .formulario__validación-estado{
    color: #1ed12dea;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #cc1b1b;
}

.formulario__grupo-incorrecto .formulario__validación-estado{
    color: #cc1b1b;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__iput{
    border: 3px  #cc1b1b;
}

/*-----termina la parte de validación-----*/